<div class="main">
    <app-side-menu (telaPedidos)="valorMenuLateral($event)"></app-side-menu>
    <div class="col-md-8 offset-md-2">
        <div class="mt-3 shadow bg-white border-radius" [ngSwitch]="componentes">
            <div *ngSwitchDefault>
                <app-gerenciamento-pedidos></app-gerenciamento-pedidos>
            </div>
            <div *ngSwitchCase="'Usuários'">
                <app-gerenciamento-usuarios></app-gerenciamento-usuarios>
            </div>
            <div *ngSwitchCase="'Relatorio'">
                <app-pdf-creator></app-pdf-creator>
            </div>
        </div>
    </div>
</div>