.info-restaurante[_ngcontent-kns-c63] {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    left: 16px;
    min-height: 100px;
    position: relative;
    width: calc(100% - 200px);
    padding: 15px;
    margin-top: -20px;
}

.main {
    height: 100%;
    width: 100%;
    overflow-y: auto;

}

.barra-pesquisa {
    height: 20px;
    margin-top: 200px;
}

.border-top {
    border-top: 5px solid !important;
    border-color: #d67032 !important;
}


.border-radius {
    border-radius: 15px;
}

/* .espaço {
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
} */

.container-teste {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-left: 20px;
    padding: 20px;
}

.avaliacao {
    float: right;
    font-size: 20px;
    color: #fccb90;
}

.top-avaliacao {
    color: #fccb90;
}

.margin {
    margin-left: 42px;
    margin-right: 42px;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-bottom: 15px;
    height: 25px;
}


.content-body {
    min-height: 10px;
    max-height: 700px;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    border-radius: 15px;
}

.space {
    margin-left: 40px;
}

.color {
    color: #fccb90;
    cursor: pointer;
}

.espaço-cart {
    margin-right: 5px;
}

.content-body::-webkit-scrollbar {
    width: 20px;
}

.content-body::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #777676;
}


table {
    border-collapse: separate;
    border-spacing: 0px;
}


.btn:focus {
    outline: none;
    box-shadow: none;
}

.fundo {
    background-color: white;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(180, 26, 26);
    border: 1px solid #dad1ce;
    border-radius: 0.25rem;
}

.fa-search:before {
    content: "\f002";
    color: white;
}

.min-height {
    min-height: 800px;
}

.nav {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.fa-users:before {
    content: "\f0c0";
    font-size: 23px;
    color: #f25c04;
}

.fa-clipboard-list:before {
    content: "\f46d";
    font-size: 31px;
    color: #f25c04;
}

.nav-pills .nav-link {
    background: none;
    color: whitesmoke;
    border: 0;
    border-radius: 0.25rem;
}

.background-color {
    background-color: whitesmoke;
    border-color: red;
}

.teste {
    margin-left: 53px;
    border: #b1b0b0 solid 1px;
}

.margin-top {
    margin-top: 150px;
}

.img {
    src: url(../../../assets/images/logo1.png);
}

