.font-size {
    font-size: 20px;
}

.main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.margin-right {
    margin-right: 34%;
    margin-bottom: 50px;
}

.color-orange {
    background-color: #d67032;
    color: white;
}
.text-area {
    background-color: #fff;
    border: 1px solid #ced4da;
    width: 70%;
    height: 150px;
}

.margin-top {
    margin-top: 80px;
}

.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}


.custom-marker {
	display: flex;
	width: 2rem;
	height: 2rem;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	border-radius: 50%;
	z-index: 1;
  }


  .status-pending {
    background-color: #d67032;
  }
  .status-delivered {
    background-color: #d67032;
  }
  .status-canceled {
    background-color: #d67032;
  }


