<div class="main">
    <div class="row espaço">
        <div class="col-md-6 offset-md-3 ">
            <div class="container mt-3 shadow bg-white">
              <div class="jumbotron p-5 font-size text-center">
                <div class="col-md-6 mb-2 offset-md-3">
                    <img src="../../../assets/images/logo1.png" data-bs-toggle="dropdown" height="70">
                </div>
                <h1>Pedido Conluído</h1>
                <p>Seu pedido foi recebido pelo restaurante. Prepare a mesa que a comida está chegando!</p>
                <p><b>Avalie</b> sua experiência:</p>
                <p></p>
                <p *ngIf="rated">
                  Obrigado pela sua avaliação!
                </p>
              </div>
        </div>
    </div>
</div>
