<div class="main">
  <div class="container">
    <div class="col-xs-12">
      <form [formGroup]="telaForm" class="row">
        <div class="col-md-6 ml-auto">
          <div class="form-group mt-4">
            <label class="mb-1" for="usr">Nome da Tela:</label>
            <input type="text" name="nome" formControlName="nome" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mt-4">
            <label class="mb-1" for="perm">Nome da Permissão:</label>
            <select class="form-select" formControlName="permissao" id="permissao">
              <option value="">Escolha uma permissão</option>
              <option *ngFor="let tela of telas"></option>
              <option>Executar</option>
              <option>List</option>
              <option>Novo Cliente</option>
            </select>
          </div>
        </div>
      </form>
      <div class="row mt-4">
        <div class="col-md-6">
          <div class="list-group">
            <li class="list-group-item text-center list-group-item">
              <h5>APIS</h5>
            </li>
            <li class="list-group-item">
              <input type="text" class="form-control mt-2" [(ngModel)]="searchText" placeholder="Filtrar">
              <div cdkDropList #minha="cdkDropList" [cdkDropListConnectedTo]="[confirmados]" [cdkDropListData]="myList"
                class="vertical-menu mt-2" (cdkDropListDropped)="drop($event)">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let api of myList | filter: searchText " (click)="ListA(api)"
                    cdkDrag>{{api.nome}}
                  </li>
                </ul>
              </div>
          </div>
          <button type="button" class="btn button mt-2 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Adicionar API
          </button>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <li class="list-group-item text-center list-group-item">
              <h5>APIS Adicionadas</h5>
            </li>
            <li class="list-group-item">
              <input type="text" class="form-control mt-2" [(ngModel)]="searchText" placeholder="Filtrar">
              <div cdkDropList #confirmados="cdkDropList" [cdkDropListConnectedTo]="[minha]"
                [cdkDropListData]="confirmList" class="vertical-menu mt-2" (cdkDropListDropped)="drop($event)">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let api of confirmList | filter: searchText" (click)="ListB(api)"
                    cdkDrag>
                    {{api.nome}}</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mt-1">
        <button class="btn btn-success" (click)="addTela()">Salvar</button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar API</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="apiForm" class="row">
            <div class="ml-auto">
              <div class="form-group">
                <label class="mb-1" for="name">Nome da API:</label>
                <input type="text" id="name" formControlName="nome" class="form-control ">
              </div>
            </div>
            <div>
              <div class="form-group mt-1">
                <label class="mb-1" for="metodo">Nome da Permissão:</label>
                <select class="form-select " formControlName="metodo" id="metodo">
                  <option value="">Escolha um metodo</option>
                  <option value="execute">Executar</option>
                  <option value="list">List</option>
                  <option value="datasource">Datasource</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="addApi()">Salvar</button>
        </div>
      </div>
    </div>
  </div>