.pedido{
    font-size: 20px;
    margin-top: 12px;
}

.float-button{
    float: right;
}

.border-top{
    border-top: 4px solid #121921 !important;
}

.boder-color {
    border-color: #47dd1a !important;
}

.main {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.color-orange {
    background-color: #f25c04;
    color: white;
}

.fa-shopping-cart:before {
    content: "\f07a";
    color: #d67032 ;
}