<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <button type="button" class="btn local" [routerLink]="['/login']" routerLinkActive="router-link-active" ><i class="fa fa-arrow-left" aria-hidden="true"></i></button>  
                  <div class="text-center">
                    <img src="assets/images/logo1.png"
                      style="width: 150px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Sign up</h4>
                  </div>
  
                  <form [formGroup]="form">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw margin-icon"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="form3Example1c" placeholder="User" formControlName="user" class="form-control" />
                          <label class="form-label" for="form3Example1c"></label>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw margin-icon"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" id="form3Example3c" placeholder="Email"  formControlName="email" class="form-control" />
                          <label class="form-label" for="form3Example3c"></label>
                        </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw margin-icon"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="form3Example4c" placeholder="Senha" formControlName="password" class="form-control" />
                          <label class="form-label" for="form3Example4c"></label>
                        </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw margin-icon"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="form3Example4cd" placeholder="Confirmar Senha" formControlName="confirmPassword" class="form-control" />
                          <label class="form-label" for="form3Example4cd"></label>
                        </div>
                      </div>

                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn local " [disabled]="form.invalid" (click)="singUp()">Cadastre-se</button>
                      </div>
                      <div class="alert alert-primary" *ngIf="form.valid" role="alert">
                        A simple primary alert—check it out!
                      </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center background-img">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  