.main{
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.content-body{
  min-height: 10px;
  max-height: 600px;
  overflow-y: auto;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}
  
.content-body::-webkit-scrollbar {
  width: 20px;
}

img {
  height: 120px;
}
    
.content-body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #777676;
}
  

table {
  border-collapse:separate;
  border-spacing: 0px;
}

form {
  margin: auto;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}


             