.main{
  height: 100%;
  width: 100%;
}

.barra-pesquisa{
  height: 38px;
}

.content-body{
height: calc(100% - 38px);
overflow-y: auto;
}

table {
    margin:auto;
    border-collapse:separate;
    border-spacing: 0px;
    

  }

.btn{
  margin-left: 5px;
}

form {
    margin: auto;
}

             