<div class="main">
    <div class="container">
        <div class="row">
            <h3 class="mt-3">Nome da Api: {{editForm.get('nome')?.value}}</h3>
            <div class="modal-footer">
                <a class='btn btn-danger' [routerLink]="['/lista-api']">Voltar</a>
                <button type="submit" class="btn btn-success" (click)="updateApi()">Salvar</button>
            </div>
            <form [formGroup]="editForm" class="row mt-1">
                <div class="form-group width-a">
                    <label class="" for="name">Name da API:</label>
                    <input type="text" id="nome"  class="form-control" formControlName="nome">
                </div>
                <div class="form-group width-b" >
                    <label class="" for="metodo" >Nome da Permissão:</label>
                    <select class="form-select"  formControlName="metodo" id="metodo">
                        <option value="">Escolha um metodo</option>
                        <option value="execute">Executar</option>
                        <option value="list">List</option>
                        <option value="datasource">Datasource</option>
                    </select>
                </div>
            </form>
            <div class="container mx-auto p-2">
                <div class="row p-2">
                  <div class="col-lg-12">
                  </div>
                </div>
                <div class="row">
                  <div cdkDropList #minha="cdkDropList" [cdkDropListData]="myList"  [cdkDropListConnectedTo]="[confirmados]" 
                    class="col-lg-6" (cdkDropListDropped)="drop($event)">
                    <ul class="list-group well">
                        <div class="input-group">
                          <input type="text" class="form-control mb-2" [(ngModel)]="searchText" placeholder="Search">
                          <div class="input-group-btn">
                            <span class="btn btn-default" type="submit">
                              <i class="fas fa-search"></i>
                            </span>
                          </div>
                        </div>
                    <li class="list-group-item" *ngFor="let tela of myList | filter:searchText" cdkDrag>
                        {{tela.nome}}</li>
                    </ul>
                  </div>
                  <div cdkDropList #confirmados="cdkDropList"  [cdkDropListData]="confirmList" [cdkDropListConnectedTo]="[minha]"
                    (cdkDropListDropped)="drop($event)" class="col-lg-6">
                    <ul class="list-group well">
                      <div class="input-group">
                        <input type="text" class="form-control mb-2" [(ngModel)]="searchText" placeholder="Search">
                        <div class="input-group-btn">
                          <span class="btn btn-default" type="submit">
                            <i class="fas fa-search"></i>
                          </span>
                        </div>
                      </div>
                      <li class="list-group-item"  *ngFor="let tela of confirmList | filter:searchText" cdkDrag>
                        {{tela.nome}}</li>
                    </ul>
                  </div>
                </div>
        </div>
    </div>
</div>
