<div class="main">
    <div class="container">
        <div class="barra-pesquisa offset-md-2 col-md-8 mt-4">
            <input class="form-control mt-3 me-2" type="search" [(ngModel)]="searchText" placeholder="Filtrar"
                aria-label="Search">
        </div>
        <div class="content-body offset-md-2 col-md-8">
            <table class="table table-sm ">
                <thead>
                    <tr>
                        <th scope="col">N</th>
                        <th scope="col">JHashT</th>
                        <th scope="col">Nome API</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tela of telas | filter:searchText">
                        <td>{{tela.id}}</td>
                        <td>{{tela.JHashT}}</td>
                        <td>{{tela.nome}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" (click)="editTela(tela)">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>