.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9e9e9e;
}

.card {
    background-color: white;
    border-radius: 0;
    border: 0;
    max-height: 100%;
    overflow-y: auto;
    width: 370px;
    max-width: 100%;
 
}

.card-header {
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    background: #224289 !important;
    color: #f8f8f8 !important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}

.btn-primary {
    background-color: #0d47a1;
}

.info{
    color: #333333;
    font-size: 12px;
}

.card-img-top{
    width: 40%;
}