<div class="main">
  <div class="container">
    <div class="col-xs-12">
      <form [formGroup]="apiForm" class="row">
        <div class="col-md-6 ml-auto">
        <div class="form-group mt-4 ">
          <label class="mb-1" for="name">Nome da API:</label>
          <input type="text" id="name" formControlName="nome" class="form-control ">
        </div>
      </div>
       <div class="col-md-6">
        <div class="form-group mt-4 ">
          <label class="mb-1" for="metodo">Nome da Permissão:</label>
          <select class="form-select " formControlName="metodo" id="metodo">
            <option value="">Escolha um metodo</option>
            <option value="execute">Executar</option>
            <option value="list">List</option>
            <option value="datasource">Datasource</option>
          </select>
        </div>
      </div>
      </form>
        <div class="modal-footer mt-2">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Adicionar Tela
          </button>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="list-group">
              <li class="list-group-item text-center list-group-item">
                <h5>Telas</h5>
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control mt-2" placeholder="Search">
                <div cdkDropList #minha="cdkDropList" [cdkDropListConnectedTo]="[confirmados]"
                  [cdkDropListData]="myList" class="vertical-menu mt-2" (cdkDropListDropped)="drop($event)">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let tela of myList | filter: searchText " cdkDrag>{{tela.nome}}
                    </li>
                  </ul>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="list-group">
              <li class="list-group-item text-center list-group-item">
                <h5>Telas Adicionadas</h5>
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control mt-2" placeholder="Search">
                <div cdkDropList #confirmados="cdkDropList" [cdkDropListConnectedTo]="[minha]"
                  [cdkDropListData]="confirmList" class="vertical-menu mt-2" (cdkDropListDropped)="drop($event)">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let tela of confirmList | filter: searchText " cdkDrag>
                      {{tela.nome}}</li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer mt-3">
          <button class="btn" (click)="addApi()">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Adicionar Tela</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-adicionar-tela></app-adicionar-tela>
        </div>
      </div>
    </div>
  </div>
  

    
  