<nav class="navbar navbar-light  border-bottom">
    <div class="ms-5 mt-2">
        <img src="../../../assets/images/logo1.png" alt="" width="75">
      <button class="btn btn-danger ms-4" (click)="abrirTelas('Pedidos')">
        <i class="fas fa-clipboard-list me-2"></i>
        <label class="tipografia text-usuarios" >Pedidos</label>   
      </button>
      <button class="btn btn-danger ms-4" (click)="abrirTelas('Usuários')">
        <i class="fas fa-user me-2"></i>
        <label class="tipografia text-usuarios" >Usuários</label>   
      </button>
    </div>
</nav>
