<div class="sidebar shadow">
  <div class="sidebar-header offset-md-4 mt-4 mb-2">
    <img src="../../../assets/images/logo1.png" alt="" width="60">
  </div>
  <a>
    <img src="../../../../assets/images/bag.png" class="me-3" alt="" width="30">
    <label class="tipografia" (click)="abrirTelas('Pedidos')">Pedidos</label></a>
  <a>
    <img src="../../../../assets/images/users.png" class="mb-2" alt="" width="30">
    <label class="tipografia ms-3" (click)="abrirTelas('Usuários')">Usuários</label></a>
  <a>
    <img src="../../../../assets/images/relatorio.png" class="mb-2" alt="" width="30">
    <label class="tipografia ms-3" (click)="abrirTelas('Relatorio')">Relatorios</label></a>
</div>