<div class="main">
    <div class="row espaço">
        <div class="col-md-6 offset-md-3 ">
            <div class="container mt-3 shadow bg-white">
                <div class="row">
                    <div>
                        <hr class="margin">
                        <h5 class="space mt-2 top-avaliacao"><i class="fas fa-star"></i>Avaliações</h5>
                        <hr class="margin">
                    </div>
                    <div class="col-md-5 teste mt-3" *ngFor="let reviews of review " [@menuItemAppeared]="menuItemState">
                        <span class="review-score avaliacao pull-right" ><i class="fa fa-star"></i>
                            {{reviews.rating}}</span>
                        <div class="row">
                            <div class="col-md-4">
                                <img *ngIf="reviews.rating < 3" alt="User Image"  width="90%" class="img-circle"
                                    src="assets/images/reactions/pissed.png">
                                <img *ngIf="reviews.rating >= 3 && reviews.rating < 4"  width="90%" alt="User Image"
                                    class="img-circle" src="assets/images/reactions/soso.png">
                                <img *ngIf="reviews.rating >= 4" alt="User Image"  width="90%" class="img-circle"
                                    src="assets/images/reactions/loved.png">
                            </div>
                            <div class="col-md-2 mt-4">
                                <div>
                                    <h6 class="username">{{reviews.name}}</h6>
                                </div>
                                <span class="description"> {{reviews.date}}</span>
                            </div>
                        </div>
                        <hr>
                        <p>{{reviews.comments}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>