<div class="main">
    <div class="row espaço">
        <div class="col-md-8 offset-md-2 ">
            <div class=" mt-3 shadow container bg-white">
                <div class="row">
                    <div>
                        
                        <h5 class="space mt-2 top-avaliacao"><img src="../../../../assets/images/staravali.png" alt="" 
                            class="mb-1" width="30">Avaliações</h5>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-5 teste shadow mt-3 border-top" *ngFor="let reviews of review " [@menuItemAppeared]="menuItemState">
                        <span class="review-score avaliacao pull-right" ><img src="../../../../assets/images/staravali.png" alt="" width="30">
                            {{reviews.rating}}</span>
                        <div class="row">
                            <div class="col-md-4">
                                <img *ngIf="reviews.rating < 3" alt="User Image"  width="90%" class="img-circle"
                                    src="assets/images/reactions/pissed.png">
                                <img *ngIf="reviews.rating >= 3 && reviews.rating < 4"  width="90%" alt="User Image"
                                    class="img-circle" src="assets/images/reactions/soso.png">
                                <img *ngIf="reviews.rating >= 4" alt="User Image"  width="90%" class="img-circle"
                                    src="assets/images/reactions/loved.png">
                            </div>
                            <div class="col-md-2 mt-4">
                                <div>
                                    <h6 class="username">{{reviews.name}}</h6>
                                </div>
                                <span class="description"> {{reviews.date}}</span>
                            </div>
                        </div>
                        <hr>
                        <p>{{reviews.comments}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>