<div id="content">
  <div class="col-md-6 offset-md-4">

  </div>
  <table class="table" id="contentToConvert">
    <tbody *ngFor="let restaurante of restaurantes">
      <div class="row">
        <div class="col-md-6 text-center offset-md-3 text-black" id="teste">
          <img src="../../assets/images/logo3.png" data-bs-toggle="dropdown" width="90">
          <h5 class="tipografia">
            <h2 class="text-center">{{ restaurante.name }}</h2>
          </h5>
          <p class="text-black"><img src="../../../../assets/images/local.png" alt="" width="30"> {{
            restaurante.endereco }},
            {{ restaurante.cidade }} - {{ restaurante.estado }}, {{ restaurante.cep }}</p>
          <div class="mt-3 me-4">
            <p class="text-black"><img src="../../../../assets/images/phone.png" alt="" width="25"> {{
              restaurante.telefone }}/ {{restaurante.celular}}</p>
          </div>
          <div class="mt-3 me-4">
            <p class="text-black"><img src="../../../../assets/images/cnpj.png" alt="" width="25"> {{ restaurante.cnpj
              }}</p>
          </div>
          <div class="mt-3 me-4">
            <p class="text-black"><img src="../../../../assets/images/email.png" alt="" width="25"> {{ restaurante.email
              }}</p>
          </div>
          <div class="container mt-5">
            <h5 class="text-start"><img src="../../../../assets/images/pedidos.png" alt="" width="25"> Relatório de Pedidos</h5>
            <div class="row border p-1">
              
              <div class="col mt-2">
                <strong>Total de Pedidos Entregues: </strong> {{ this.entregues }}
              </div>
              <div class="col mt-2">
                <strong>Total de Pedidos Cancelados: </strong> {{ this.cancelados }}
              </div>
              <div class="w-100"></div>
              <div class="col mt-2">
                <strong>Total de Pedidos em Aberto: </strong>{{ this.pendentes}}
              </div>
              <div class="col mt-2">
                <strong>Total de Pedidos Andamento: </strong>{{ this.andamento }}
              </div>
              <div class="w-100"></div>
              <div class="col mt-2">
                <strong>Total de Pedidos: </strong>{{ this.quantidadePedidos }}
              </div>
              <div class="col mt-2">
                
              </div>
            </div>
            

          </div>
        </div>
      </div>
    </tbody>

  </table>
</div><br>
<div style="text-align: center;">
  <input type="button" class="btn btn-danger mb-3" value="Imprimir" (click)="convertToPDF()" />
</div>