<div class="main">
  <div class="container">
    <div class="col-xs-12">
      <h3 class="mt-3">Nome da Tela: {{telaForm.get('nome')?.value}}</h3>
      <form [formGroup]="telaForm" class="row">
        <div class="col-md-6 ml-auto">
          <div class="form-group mt-4">
            <label class="mb-1" for="usr">Nome da Tela:</label>
            <input type="text" name="nome" formControlName="nome" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mt-4">
            <label class="mb-1" for="perm">Nome da Permissão:</label>
            <select class="form-select" formControlName="permissao" id="permissao">
              <option value="">Escolha uma permissão</option>
              <option>Atendimento</option>
              <option>Tema Mac</option>
              <option>Novo Cliente</option>
            </select>
          </div>
        </div>
      </form>
      <div class="modal-footer mt-3">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="list-group">
            <li class="list-group-item text-center list-group-item">
              <h5>APIS</h5>
            </li>
            <li class="list-group-item">
              <input type="text" class="form-control mt-2" [(ngModel)]="searchText" placeholder="Search">
              <div cdkDropList #minha="cdkDropList" [cdkDropListConnectedTo]="[confirmados]" [cdkDropListData]="myList"
                class="vertical-menu mt-2" (cdkDropListDropped)="drop($event)">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let api of myList | filter: searchText " cdkDrag>{{api.nome}}
                  </li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <li class="list-group-item text-center list-group-item">
              <h5>APIS Adicionadas</h5>
            </li>
            <li class="list-group-item">
              <input type="text" class="form-control mt-2" [(ngModel)]="searchText" placeholder="Search">
              <div cdkDropList #confirmados="cdkDropList" [cdkDropListConnectedTo]="[minha]"
                [cdkDropListData]="confirmList" class="vertical-menu mt-2" (cdkDropListDropped)="drop($event)">
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let api of confirmList | filter: searchText " cdkDrag>
                    {{api.nome}}</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer mt-2">
      <a class='btn btn-danger' [routerLink]="['/listar-tela']">Voltar</a>
      <button type="submit" class="btn btn-success" (click)="updateTela()">Salvar</button>
    </div>
  </div>
</div>