<div class="main" >
    <nav class="navbar  snavbar-expand-lg navbar-light  shadow">
        <div class="container-fluid">
            <div class="dropdown">
                <img src="assets/images/logo2.png" data-bs-toggle="dropdown" height="50">
            </div>
            <div>
                <ul class="nav">
                    <li class="nav-item mt-3">
                        <a class="nav-link text-uppercase text-ligh text-hover" [routerLink]="['/home']" [routerLinkActive]="'active'" aria-current="page" >Menu</a>
                    </li>
                
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="content-body">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>