
.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;

    
}

.content {
    flex-grow: 1;
    overflow: hidden;
}


.content-body{
    height: 100%;   
}