<div class="main">
    <div class="shadow">
        <div class="container-img border-bottom">
            <div class="col-md-6 offset-md-1 mb-5 border-bottom-2">
                <div class="row">
                    <div class="col-md-4 offset-md-4 text-white">
                        <h5 class="tipografia">
                            <h2 class="text-center">FoodBoard</h2>
                        </h5>
                    </div>
                    <div class="col-md-4">
                        <a class="pull-right text-decoration-none avaliacao tipografia-icon text-white"
                            routerLinkActive="detail-active" id="reviews" [routerLink]="['/reviews']">
                            <button class="btn color-orange" type="submit"> <i class="fas fa-star me-2"></i>{{ ratingTotal }}</button>
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-2">
                        <img src="../../assets/images/logo2.png" data-bs-toggle="dropdown" width="100%">
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <span class="tipografia  text-white pointer" data-bs-toggle="modal"
                            data-bs-target="#exampleModal"><i class="fas fa-clock"
                                [ngStyle]="{'color': this.status === 'Aberto' ? 'green' : 'red'}"></i>
                            {{ this.status }} {{ this.horario }}</span>
                        <div class="mt-5 me-4">
                            <p class="text-white"><i class="fas fa-map-marker-alt local"></i> Avenida Romário Martins,
                                101 Centro, Rolândia - PR, 86600-103</p>
                        </div>
                        <div class="mt-3 me-4">
                            <p class="text-white"><i class="fas fa-phone-alt local"></i> (43) 3221-9000</p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 offset-md-3 tipografia-icon text-white mb-2">
                        <i class="fas fa-motorcycle text-white"></i> Entrega em até 40 min
                    </div>
                    <div class="col-md-4 offset-md-1 tipografia-icon text-white">
                        <i class="fas fa-box-open"></i> Retirada em 30 min.
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-4 offset-md-3 tipografia-icon mb-2 text-white"><i
                            class="fas fa-shopping-bag text-white"></i> Pedido minimo de R$8,50</div>
                    <div class="col-md-4 offset-md-1 tipografia-icon mb-2 text-white"><i
                            class="fas fa-money-bill text-white"></i> Calcular Entrega</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row espaço">
        <div class="col-sm-6 col-md-6 offset-md-1 mt-3 shadow border-top">
            <div class="container bg-white">
                <div class="row">
                  <div class="col p-3 ms-4">
                    <h5 class="tipografia"><i class="fas fa-list"></i> Menu</h5>
                  </div>
                  <div class="col p-3 me-4">
                    <button type="button" class="btn btn-success ms-4 float-right shadow btn-sm space  text-decoration-none"
                    id="adicionar" data-bs-toggle="modal" data-bs-target="#adicionarItem" *ngIf="permissao === 'A'">
                    <i class="fas fa-plus"></i> Adicionar items</button>
                  </div>
                </div>
              </div>
            <div class="content p-4 bg-white">
                <div class="col-xs-10 col-sm-10 col-md-10  col-lg-10">
                    <button class="btn btn-danger-filter me-2 mb-2 button-menu" type="button" (click)="getTelas()">Todos</button>
                    <button class="btn btn-danger-filter me-2 mb-2 button-menu" type="button"
                        (click)="filtrarCategoria('Cachorro Quente')">Cachorro Quente</button>
                    <button class="btn btn-danger-filter me-2 mb-2 button-menu" type="button"
                        (click)="filtrarCategoria('Lanches')">Lanches</button>
                    <button class="btn btn-danger-filter me-2 mb-2 button-menu" type="button"
                        (click)="filtrarCategoria('Hamburgers Artesanal')">Hamburguer Artesanal </button>
                        <button class="btn btn-danger-filter me-2 mb-2 button-menu" type="button"
                        (click)="filtrarCategoria('Refrigerantes')">Refrigerantes</button>
                </div>
                <hr>
                <div class="col-md-2 input-group rounded">
                    <input type="search" class="form-control mt-3 rounded " [(ngModel)]="searchText"
                        placeholder="Pesquisar Produto" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text mt-3 border-0" id="search-addon">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
                <div class="content-body">
                    <hr class="bg-black">
                    <div class="row shaodow" *ngFor="let menuItem of categorias | filter:searchText">
                        <div class="col-sm-8 col-md-4" [@menuItemAppeared]="menuItemState">
                            <img width="90%" [src]="menuItem.imagePath">
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-8">
                            <h3 class="mt-2 tipografia ">{{menuItem.name}} <i
                                    class="fas fa-trash-alt float-right pointer" *ngIf="permissao === 'A'"
                                    (click)="deleteItem(menuItem.id)"></i>
                                <i class="fas fa-edit float-right pointer me-2" *ngIf="permissao === 'A'" (click)="editApi(menuItem)"
                                    data-bs-toggle="modal" data-bs-target="#editarItem"></i>
                            </h3>
                            <span>{{menuItem.description}}</span>
                            <br>
                            <p>{{ menuItem.category }}</p>
                            <div class="mt-2">
                                <span class="mt-3"><i class="fas fa-wallet"></i> {{menuItem.price | currency: 'BRL':
                                    true}}</span>
                                <button type="button"
                                    class="btn btn-color ms-4 shadow btn-sm space  text-decoration-none" id="adicionar"
                                    (click)="emitAddEvent(menuItem)" *ngIf="this.status === 'Aberto'">
                                    <i class="fas me-1 fa-shopping-cart"></i> Adicionar</button>
                            </div>
                        </div>
                        <hr class="mt-2 bg-black">
                        <div class="modal fade" id="editarItem" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <i class="fas fa-store local"></i>
                                        <h5 class="modal-title ms-2" id="staticBackdropLabel">Editar Item</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="editForm">
                                            <div class="fw-bold col-md-12 offset-md-2">
                                                <div>
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i
                                                            class="fas fa-hamburger me-3 mt-4 fa-fw margin-icon local"></i>
                                                        <div class="form-outline flex-fill ">
                                                            <label class="mb-1" for="usr">Nome do Item:</label>
                                                            <input type="text" id="name" formControlName="name"
                                                                class="additem">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i
                                                            class="fas fa-info-circle me-3 mt-4 fa-fw margin-icon local"></i>
                                                        <div class="form-outline flex-fill ">
                                                            <label class="mb-1" for="usr">Descrição do Item:</label>
                                                            <input type="text" name="nome" formControlName="description"
                                                                class="additem ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i
                                                            class="fas fa-money-bill me-3 mt-4 fa-fw margin-icon local"></i>
                                                        <div class="form-outline flex-fill ">
                                                            <label class="mb-1" for="usr">Preço do Item:</label>
                                                            <input type="number" name="nome" formControlName="price"
                                                                class="additem ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <i class="fas fa-tags me-3 mt-4 fa-fw margin-icon local"></i>
                                                        <div class="form-outline flex-fill ">
                                                            <label class="mb-1" for="usr">Categoria do Item:</label>
                                                            <input type="text" name="nome" formControlName="category"
                                                                class="additem ">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="formFile" class="form-label">Image do Item:</label>
                                                    <input class="form-control" type="file" id="formFile"
                                                        (change)="onFileSelected2($event)"
                                                        onchange="console.log(event.target.files)">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                            (click)="updateItem()">Salvar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-3 mt-3" [@menuItemAppeared]="menuItemState" *ngIf="items().length">
            <div class="container-teste bg-white shadow border-top">
                <div class="input-group rounded">
                    <h5 class="mt-3"><i class="fas fa-shopping-cart-car"></i> Carrinho</h5>
                </div>
                <div class="content-body">
                    <div class="box-body">
                        <div *ngIf="!items().length">
                            <p class="text-center">
                                Seu carrinho está vazio!
                            </p>
                        </div>
                        <div class="table-responsive" *ngIf="items().length">
                            <table class="table">
                                <tbody>
                                    <tr *ngFor="let item of items()">
                                        <td><img height="60px" [src]="item.menuItem.imagePath"></td>
                                        <th>({{item.quantity}}x) {{item.menuItem.name}}
                                            <br>
                                            <a (click)="emitRemoveEvent(item)" class="btn btn-sm quantity local"><i
                                                    class="fa fa-minus"></i>
                                            </a>
                                            <a class="btn btn-sm quantity">{{item.quantity}}</a>
                                            <a (click)="emitAddEvent(item.menuItem)"
                                                class="btn btn-sm quantity local"><i class="fa fa-plus"></i></a>
                                            <br>
                                            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-obs">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="staticBackdropLabel">Adicionais
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="col-lg-12 offset-md-2 mt-3"
                                                            *ngFor="let item of itemAdicionais(); let myIndex=index;">
                                                            <h5>({{ item.quantity }}x) {{ item.menuItem.name }}</h5>
                                                            <div *ngFor="let checkbox of adicionais">
                                                                <div class="form-check" *ngIf="item.menuItem.category !== 'Refrigerantes'">
                                                                    <form>
                                                                        <div >
                                                                            <input class="form-check-input"
                                                                                [(ngModel)]="item.adicionais"
                                                                                type="radio" value="{{ checkbox.name }}"
                                                                                [ngModelOptions]="{standalone: true}">
                                                                            {{ checkbox.name }}
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn color-orange mt-2"><i
                                                                    class="fas fa-comment-dots"></i> Alguma
                                                                observação?</button>
                                                            <div>
                                                                <textarea class="text-area mt-3 mb-4 shadow"
                                                                    id="exampleFormControlTextarea1"
                                                                    placeholder="Ex: Tirar a cebola, maionese à parte, ponto da carne etc"
                                                                    [(ngModel)]="item.observacao"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                data-bs-dismiss="modal"
                                                                (click)="item.observacao = ''">Cancelar</button>
                                                            <button type="button" class="btn btn-success"
                                                                data-bs-dismiss="modal"
                                                                value="{{ item.observacao }}">Salvar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td>{{item.value() | currency: 'BRL': true}}</td>

                                        <td class="text-right offset-md-4">
                                            <a (click)="removeItem(item)" class="btn btn-sm danger"><i
                                                    class="fas fa-times-circle"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="right"><button class="btn btn-sm btn-color mt-1" (click)="openModal($event)"
                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-plus"></i>
                                    Adicionais</button><strong class="ms-3">Total:</strong> {{total() | currency: 'BRL':
                                true}}</p>
                        </div>
                    </div>
                    <div *ngIf="items().length">
                        <div class="row">
                            <div class="col offset-md-4">
                                <button (click)="clear()" type="button" class="btn float-button btn-danger"><i
                                        (click)="clear()" class="fas fa-trash-alt-cart"></i> Limpar</button>
                            </div>
                            <div class="col">
                                <button [routerLink]="['/order']" type="button" class="btn float-button btn-success"><i
                                        class="fa fa-credit-card"></i>
                                    Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Horarios de Atendimento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6" *ngFor="let horario of hours">
                                <h5><i class="fas fa-clock"
                                        [ngStyle]="{'color': horario.dia !== 'terça-feira' ? 'green' : 'red'}"></i>
                                    {{horario.dia | uppercase}}</h5>
                                <p *ngIf="horario.dia === 'terça-feira'">{{ horario.status }}</p>
                                <p *ngIf="horario.dia != 'terça-feira'">{{ horario.startTime }} às {{ horario.endTime
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="adicionarItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fas fa-store local"></i>
                    <h5 class="modal-title ms-2" id="staticBackdropLabel">Adicionar Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="adicionarItemForm">
                        <div class="fw-bold col-md-12 offset-md-2">
                            <div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-hamburger me-3 mt-4 fa-fw margin-icon local"></i>
                                    <div class="form-outline flex-fill ">
                                        <label class="mb-1" for="usr">Nome do Item:</label>
                                        <input type="text" name="nome" formControlName="name" class="additem">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-info-circle me-3 mt-4 fa-fw margin-icon local"></i>
                                    <div class="form-outline flex-fill ">
                                        <label class="mb-1" for="usr">Descrição do Item:</label>
                                        <input type="text" name="nome" formControlName="description" class="additem ">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-money-bill me-3 mt-4 fa-fw margin-icon local"></i>
                                    <div class="form-outline flex-fill ">
                                        <label class="mb-1" for="usr">Preço do Item:</label>
                                        <input type="number" name="nome" formControlName="price" class="additem ">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-tags me-3 mt-4 fa-fw margin-icon local"></i>
                                    <div class="form-outline flex-fill ">
                                        <label class="mb-1" for="usr">Categoria do Item:</label>
                                        <input type="text" name="nome" formControlName="category" class="additem ">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Image do Item:</label>
                                <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)"
                                    onchange="console.log(event.target.files)">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        (click)="addItemMenu()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>